<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/new" method="post">
      <input type="text" name="user" placeholder="Your name" required />
      <br />
      <textarea name="message" placeholder="Your message" required></textarea>
      <br />
      <button type="submit">Send</button>
    </form>
    <a href="/">Back to message board</a>
  </body>
</html>
